dist
dist-*
cabal-dev
cabal.sandbox.config
cabal.project.local
.cabal-sandbox/
*.cabal

.stack-work/
stack.yaml.lock

*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.hp
.hpc
.hsenv

.ghc.environment.*

.exercism/
